<ix-application>
  <ix-application-header name="My Application">
    <div class="placeholder-logo" slot="logo"></div>
  </ix-application-header>

  <ix-menu enableToggleTheme="true">
    <ix-menu-item
      home-tab
      tab-icon="home"
      (click)="onMenuClick('/')"
      [attr.active]="activeTab === '/'"
    >
      Home
    </ix-menu-item>
    <ix-menu-item
      tab-icon="user-management-filled"
      (click)="onMenuClick('users')"
      [attr.active]="activeTab === 'users'"
      >Users</ix-menu-item
    >
    <ix-menu-item
      tab-icon="product-management"
      (click)="onMenuClick('products')"
      [attr.active]="activeTab === 'products'"
      >Products</ix-menu-item
    >
  </ix-menu>

  <router-outlet></router-outlet>
</ix-application>
